@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Bold.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Bold.woff') format('woff'),
        url('../fonts/RobotoSlab-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
body{
    margin: 0;
    font-family:"Roboto";
}
.wrapper{
    margin: 0 auto;
    max-width: 80%;
}
h1{
    padding-top: 60px;
    color: #1f222c;
    font: 700 30px "Roboto Slab";
    text-align: center;
}
h2{
    margin-bottom: 30px;
    letter-spacing: 0px;
    color: #b3b3b3;
    font-family: 700 20px "Roboto";
}
h3{
    margin-bottom: 25px;
    color: #1f222c; 
    font: 700 18px "Roboto"; 
}
hr{
    margin: 35px 0 35px 0;
    border-top: 1px solid #e4e4ec;
}
 hr.five {
    margin: 30px 4px 30px 5px;
    border-top: 1px solid #e4e4ec;
}
hr.five2 {
    margin: 10px 4px 24px 5px;
    border-top: 1px solid #e4e4ec;
}
.simple-f{
    max-width: 330px;
}
.simple-f input,
.simple-f textarea,
.simple-f select{
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
}
input,
textarea,
select,
.text{
    outline: none;
    display: inline-block;
    padding: 13px;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #ccc;
}
input,
select{
    height: 42px;
}
textarea{
    resize: vertical;
    min-height: 100px;
    max-height: 150px;
    font-family: inherit;
    margin-top: 10px;
}
.test option:first-child{
    display: none;
}
.test{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 42px;
    background-color: #fff;
    border-radius: 3px;
    outline: none;
} 
.test::before{
    content: "";
    position: absolute;
    top: 17px;
    right: 20px;
    border: 4px solid transparent;
    border-right-color: #000;
    border-bottom-color: #000;
    transform: rotate(45deg);
    z-index: 0;
}
.test select{
    position: relative;
    appearance: none;
    background-color: transparent;
    z-index: 1;
}
input[type="submit" i] {
    display: inline-block;
    width: 330px;
    height: 41px;
    font: 700 14px "Roboto";
    text-align: center;
    line-height: 24px;
    padding: 8px 12px;
    color: #fff;
    background-color: #12d661;
    border: 2px solid transparent;
    border-radius: 3px; 
}
input[type="submit" i]:focus,
input[type="submit" i]:hover{
    box-shadow: 0px 2px 2.5px rgba(8,118,52,0.35);
    background-color: #07be51;
}
input:focus,
textarea:focus,
select:focus{
    box-shadow: 0 0 2px rgba(62,106,255,0.55);
    background-color: #fff;
    border: 1px solid #3e6aff;
}
.two-row{
    width: 50%;
    font-size: 0;
    text-align: left;  
}
.two-column{
    display: inline-block;
    margin: 10px 14px;
    vertical-align: left;
    width: 125px;
    font-size: 14px;
    text-align: left;
    box-sizing: border-box;
}
.two-column2{
    display: inline-block;
    margin: 10px 14px;
    vertical-align: left;
    width: 314px;
    font-size: 14px;
    text-align: left;
    box-sizing: border-box;
}
.two-row{
    color: #1f222c;
    font: 400 14px "Roboto";
}
.two-form{
    display: flex; 
    justify-content: space-between;
}
.radio, 
.checkbox, 
.style-radio1, 
.style-radio2{
    display: none;
}
.radio+label{
    position: relative;
    padding-left: 32px;
}
.radio+label::before{
    content: "";
    position: absolute;
    left: 2px;
    top: 0;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #b3b3b3;
}
.radio:checked+label::after{
    content: "";
    position: absolute;
    left: 6px;
    top: 4px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #3e6aff;
}
.no-activ{
    color: #b3b3b3;
}
.checkbox+label{
    position: relative;
    padding-left: 52px;
}
.checkbox+label::before{
    content: "";
    position: absolute;
    left: 32px;
    top: 0;
    width: 13px;
    height: 13px;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #b3b3b3;
}
.checkbox:checked+label::after{
    content: "";
    position: absolute;
    left: 36px;
    top: 0;
    width: 3px;
    height: 6px;
    border-radius: 4px;
    border: 2px solid transparent;
    border-bottom-color: #244dd7;
    border-right-color: #244dd7;
    transform: rotate(45deg);
}
.checkbox:checked+label::before,
.radio:checked+label::before{
    border: 1px solid #3e6aff;
}
.status{
   padding: 13px 20px;
   width: 470px;
   margin-top: 20px;
   background-color: #f7f7f7;
   border: 1px solid #e5e5e5;
   border-radius: 3px;
   color: #1f222c;
   font: 400 14px "Roboto";
}
.status table{
    width: 100%;
}
.status td{
    padding: 7px 0;
}
.status td:first-child{
    width: 80px;
    color: #b3b3b3;
    font: 700 14px "Roboto";
}
.flex{
    display: flex;
    justify-content: space-between;
}
input[type="date" i]{
    padding: 7px 4px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.date{
    display: inline-block;
}
.in-date{
    margin-left: 30px;
}
.check{
    display: none;
}
.style-radio{
    width: 330px;
    display: inline-block;
}
.style-radio p{
    display: block;
    margin-bottom: 70px;
}
.style-radio1+label, 
.style-radio2+label{
    position: relative;
    padding-left: 95px;
    color: #1f222c;
    font: 700 16px "Roboto";
} 
.style-radio1:checked+label, 
.style-radio2:checked+label{
    color: #3e6aff;  
}

.style-radio1+label::before{
    content: "";
    position: absolute;
    left: 10px;
    top: -23px;
    width: 71px;
    height: 71px;
    border-radius: 35px;
    background-image: url(../img/man.png);
    background-color: #e8e8e8;
    background-repeat: no-repeat;
    background-position: center center;  
}
.style-radio2+label::before{
    content: "";
    position: absolute;
    left: 10px;
    top: -23px;
    width: 71px;
    height: 71px;
    border-radius: 35px;
    background-image: url(../img/women.png);
    background-color:#e8e8e8;
    background-repeat: no-repeat;
    background-position: center center;
}
.style-radio1:checked+label::after{ 
    content: "";
    position: absolute;
    left: 10px;
    top: -23px;
    width: 71px;
    height: 71px;
    border-radius: 35px;
    background-image: url(../img/man2.png);
    background-color:#e8e8e8;
    background-repeat: no-repeat;
    background-position: center center;
    border:2px solid #3e6aff;
}
.style-radio2:checked+label::after{
    content: "";
    position: absolute;
    left: 10px;
    top: -23px;
    width: 71px;
    height: 71px;
    border-radius: 35px;
    background-image: url(../img/women2.png);
    background-color:#e8e8e8;
    background-repeat: no-repeat;
    background-position: center center;
    border:2px solid #3e6aff;
}
.style-radio-check{
    display: flex;
}
.style-checkbox{
    margin: 6px 0 0 80px;
    display: inline-block;
    list-style: none;
}
.style-checkbox ul,
form ul{
    list-style: none;
    margin: 0;
}
.style-checkbox ul>li{
    padding: 4px;
}
.style-check{
    display: none;
    
}
.push{
    display: inline-block;
    margin-bottom: 22px;
}
.style-check+label{
    position: relative;
    padding-left: 75px;
    color: #1f222c;
    font: 400 14px "Roboto";
}
.style-check+label::before{
    content: "";
    position: absolute;
    left: 0;
    top: -3px;
    width: 46px;
    height: 26px;
    border-radius: 32px;
    background-color: #cfcfd1;
}                          
.style-check+label::after{
    content: "";
    position: absolute;
    left: 2px;
    width: 22px;
    height: 22px;
    top: -1px;
    border-radius: 35px;
    background-color: white;
    transition: all 1s ease;
}
.style-check:checked+label::before{
    background-color: #3e6aff; 
}
.style-check:checked+label::after{
    left: 22px;
}
.personal table{
    width: 500px;
}
.personal label{
    margin: 0;
}
.personal td.text-tab{
    display: inline-block;
    box-sizing: border-box;
    margin-bottom: 17px;
    padding-top: 15px;
    width: 159px;
    color: #1f222c;
    font: 400 14px "Roboto";
}
.personal td.personal-date{
    width: 100%;
}
.personal td.personal-date input,
.personal td.personal-date textarea,
.personal td.personal-date select{
    width: 335px;
    height: 41px;
    box-sizing: border-box;
    padding-left: 13px;
}
.personal input,
.personal select{
    margin-bottom: 10px;
}
.personal label.selected::before{
    right: 60px;
}
.pol label{
   padding-right: 22px;
}

.file{
    display: none;
}
.file+label{
    display: inline-block;
    width: 170px;
    height: 30px;
    padding: 15px 0 0 0;
    color: #fff;
    font: 700 14px "Roboto";
    text-align: center;
    border-radius: 3px;
    background-color: #3e6aff;
}
.file+label:hover{
    /* filter: drop-shadow(0px 2px 2.5px rgba(15,40,126,0.35)); */
    background-color: #2857f4;
}

.request{
    width: 680px;
    margin: 0 -5px;
}
.tab-request{
    
    width: 100%;
    border-collapse: collapse;
}
.tab-request td{
    width: 33.3%;
    padding: 16px 5px;
}
.tab-request input{
    width: 100%;
    box-sizing: border-box;
}
.tab-request label{
    color: #b3b3b3;
    font: 400 13px "Roboto";
}
.request-town{
    margin-top: 1px;
    width: 100%;  
    height: 42px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
    box-sizing: border-box;
}
.arrow::after{
    content: "";
    position: absolute;
    top: 39px;
    right: 15px;
    border: 4px solid transparent;
    border-right-color: #000;
    border-bottom-color: #000;
    transform: rotate(45deg);
    z-index: 0;
}
.arrow select{
    position: relative;
    appearance: none;
    background-color: transparent;
    z-index: 1;
}
.st label{
    position: relative;
}
.stick::before{
    content: "";
    position: absolute;
    width: 1px;
    height: 19px;
    background-color: #b3b3b3;
    top: 37px;
    left: 181px;
}
.box{
    left: 0;
}
.check,
.check-box{
    display: none;
}
label{
    font-size: 14px;
    color: #1f222c;
    font-weight: 400;
    font-family: "Roboto";
}
.request input, 
.request select{
    margin-top: 8px;
}
.box{
    margin: 20px 0 5px 0;
}
.check+label,
.check-box+label{
    position: relative;
    padding: 15px 0 0 40px; 
}
.check+label:before,
.check-box+label:before{
    content: "";
    position: absolute;
    left: 7px;
    top: 13px;
    width: 13px;
    height: 13px;
    margin: 0;
    border: 1px solid #666;
    border-radius: 2px;
}
.check:checked+label::before,
.check-box:checked+label::before{
    border-color: #666;
}
.check:checked+label::after,
.check-box:checked+label::after{
    content: "";
    position: absolute;
    left: 11px;
    top: 14px;
    width: 3px;
    height: 6px;
    border: 2px solid transparent; 
    border-bottom-color: #244dd7;
    border-right-color: #244dd7;
    transform: rotate(45deg);
}
.restart{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    margin-bottom: 147px;
}
.restart1, .restart2{
    display: inline-block;
}
.button{
    width: 181px;
    height: 44px;
    font: 700 14px "Roboto";
    text-align: center;
    line-height: 24px;
    padding: 8px 12px;
    border: 1px solid #84868d;
    border-radius: 3px;
    color: #6e6f77;
    background-color: #fff;
}
.button:focus,
.button:hover{
    color: #fff;
    background-color: #6e6f77;
    border: 1px solid #6e6f77;
}
.form-wrap{
    position: fixed;
    top: 50px;
    right: 10%;
    width: 309px;
}
.form-wrap form{
    background-color: #f7f7f7;
    padding: 10px 0;
    border-radius: 5px;
    filter: drop-shadow(0px 5px 6px rgba(0, 0, 0, 0.15));
    background-color: #fafafa;
    border: 1px solid #e6e6e6;
}
.form-wrap input{
    width: 256px;
    padding: 10px 24px;
    box-sizing: border-box;
    margin-top: 9px;
}
.fix{
    color: #b3b3b3;
    font: 400 13px "Roboto";
    margin: 10px 0 20px 0;
}
#close{
    display: none;
}
#close+label{
    position: fixed;
    right: 12px;
    top: 110px;
    display: block;
    width: 20px;
    height: 20px;
    background-color: #fff;
    z-index: 1;
}
#close+label::before{
    content: "+";
    position: absolute;
    left: -121px;
    top: 24px;
    color: #b3b3b3;
    font-size: 20px;
    font-weight: bold;
    transform: rotate(45deg);
}
#close+label:hover{
    cursor: pointer;
}
#close:checked + label,
#close:checked ~ form{
    display: none;
}
/* #close:checked ~ .form-wrap{
    display: none;
} */
form ul{
    display: inline-block;
    padding-left: 25px;
}
form ul>li{
    padding: 8px 0;
}

ul>li>a{
    color: #3e6aff;
    font: 400 13px "Roboto";
    text-decoration: none;
}
form>ul>li> .submit-form{
    text-align: center;
}
.check-box+label{
    position: relative;
    padding-left: 31px;
}
.check-box+label::before{
    content: "";
    position: absolute;
    left: 1px;
    top: 14px;
    width: 13px;
    height: 13px;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #b3b3b3;
}
.check-box:checked+label::after{
    content: "";
    position: absolute;
    left: 5px;
    top: 28;
    width: 3px;
    height: 6px;
    border-radius: 4px;
    border: 2px solid transparent;
    border-bottom-color: #244dd7;
    border-right-color: #244dd7;
    transform: rotate(45deg);
}
